* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Roboto';
    font-size: 22px;
    background-color: rgb(29, 34, 32);
    color: white;
}


.dflex {
    display: flex;
}

.dflex_c {
    flex-direction: column;
}

.dflex_start {
    justify-content: flex-start;
}

.dflex_center_h {
    justify-content: center;
}

.dflex_center_v {
    align-items: center;
}

.dflex_space_betw {
    justify-content: space-between;
}

.dflex_center_h_v {
    justify-content: center;
    align-items: center;
}

.dflex_wrap {
    flex-wrap: wrap;
}

header {
    border: 1px solid gray;
    padding: 5px 15px 5px 15px;
}

header img {
    object-fit: cover;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

header .left_nav {
    height: 100%;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 5px;
    width: 25%;
}

.nav {
    border-bottom: 0.05em solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

main .nav li {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: -10px;
    width: 150px;
}

main .nav li:hover{
    border-bottom: 3px solid gray;
    font-weight: 800;
}

.tasks_section {
    width: 30%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background : rgb(249 251 248 / 4%)
}

.task_card {
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background: rgb(69 73 69);
    transition: background 1s ease;
}

.task_card:hover {
    background: rgb(107, 113, 107);
}

.column_title {
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: rgb(69 73 69);
}

.tasks_list {
   
}

main {
    margin: 50px;
}