* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: auto;
}

.dflex {
    display: flex;
}

.dflex_c {
    flex-direction: column;
}

.dflex_start {
    justify-content: flex-start;
}

.dflex_center_h {
    justify-content: center;
}

.dflex_center_v {
    align-items: center;
}

.dflex_space_betw {
    justify-content: space-between;
}

.dflex_center_h_v {
    justify-content: center;
    align-items: center;
}

.dflex_wrap {
    flex-wrap: wrap;
}

header {
    border: 1px solid gray;
    padding: 5px 15px 5px 15px;
}

header img {
    object-fit: cover;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

header .left_nav {
    height: 100%;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 5px;
    width: 8%;
}

.tasks_section {
    width: 30%;
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.task_card {
    height: 70px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 5px;
}

main {
    margin: 50px;
}